---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class:list={{ "toc-subheading": depth > 2 }}>
	<a href={`#${slug}`}><span aria-hidden="true">#</span>{text}</a>
	{
		!!children.length && (
			<ol class="toc-children">
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
